/*VARIABLES */

:root {
    /*AZUL*/
    --acento:  #f7c9b9 ;
    /*rosa*/
    --primario:#f89d88;
    /*AZUL oscurito*/
    --secundario: #a8b6aa;
    --fondo: #f4eae0;
    --colorfuente: #1d1f20;
    --fuente: poppins;
    --colorfuentesecundaria: #1d1f20;
    --fontM: 16px;
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, .6);
    --text-lighter: rgba(255, 255, 255, .9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

body.dark {
    --colorfuente: #f4ece2;
    --colorfuentesecundaria: #1d1f20;
    --fondo: #1d1f20;
}



html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

* {
    font-family: var(--fuente);
    margin: 0;
    padding: 0;
}

a {
    font-weight: 500;
    color: var(  --primario);
}

a:hover {
    text-decoration: none;
    color: var(--acento);
    font-weight: 700;
}

p {
    text-align: justify;
}

h1 {
    font-size: 5rem;
    color: var( --colorfuentesecundaria);
}

h2 {
    font-size: 3rem;
}

h1,
h2 {
    margin: 5vh 10vh;
    font-weight: 700 !important;
}

h3,
h4,
h5 {
    margin: 5vh;
    font-weight: 700 !important;
}

body {
    background: var(--fondo);
    font-size: var(--fontM);
}

.separador {
    height: 15vh;
    width: 100%;
}

.breadcrumb {
    background: transparent !important;
    border-bottom: 2px solid var(--primario);
    border-radius: 0;
}

#portada {
    background: url('../img/icon/header5.png');
    height: 95vh;
flex-direction: row-reverse;
    background-size: cover;
    padding: 50px 100px;
    margin: -10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5vh;
}


/***ICONO DEL CAMBIO DE TEMA****/
#dl-icon {
    color: var(--colorfuente) !important;
}

/**************dropdown-menu****************/
.dropdown-menu,
.dropdown-item {
    background: var(--fondo) !important;
    color: var(--colorfuente) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: var(--acento)!important;
}

.dropdown-item.active,
.dropdown-item:active {
    background: var(--fondo) !important;
    color: var(--colorfuente) !important;
    text-decoration: none;
}

/*****Ancho de la view personalizado****/
.superior {
    padding: 30px 0 20px 0;
    display: flex;
    flex-direction: column;
}

.superior h2 {
    padding-bottom: 20px;

}

.site-index h2{
    padding-left:80px;
}

.centrado {
    margin: 5px auto;
}

/*****paginacion*****/
.pagination {
    margin-bottom: 10vh;
    justify-content: center;
}

.page-link,
.page-item.disabled .page-link {
    background: var(--acento);
    color: var(--colorfuentesecundaria);
}

.page-item.active .page-link {
    background: var(--primario);
    border-color: var(--fondo);

}


element.style {
}
.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
body.dark a {
    font-weight: 500;
}
.page-link, .page-item.disabled .page-link {
    background: var(--acento);
    color: var(--colorfuentesecundaria);
}
.page-link {
        border: 1px solid  var(--fondo)!important;
}

.page-link:hover {
    z-index: 2;
    background: var(--primario);
    text-decoration: none;
    color: var(--colorfuente);
}

nav {
    width: 100%;

}

.summary {
    display: none;
}

main>.container-fluid {
    padding: 70px 5px 30px 5px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/********Navbar**********/
.bg-dark {
    background:var(--acento)!important;
    /*background:linear-gradient( var(--tercero) ,var(--fondoDos))!important;*/
}

.bg-dark-scrolled {
    background: var(--fondo) !important;
    /* Cambia esto al color deseado */
    /* Otros estilos del navbar al hacer scroll */
    color: var(--colorfuente);
}

.navbar-dark .navbar-brand {
    color: var(--colorfuente);
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

.navbar-nav {
    font-size: .95rem;
    align-items: baseline;
    font-weight: 700 !important;
}

.navbar-nav ul li {
    font-size: .9rem;
    color: var(--colorfuente);
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link {
    color: var(--colorfuente);
    font-weight: 700 !important;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--colorfuente);
    border-bottom: 3px solid var(--primario);
    font-weight: 700 !important;
}

.navbar-brand {
    padding-top: 0;
    font-weight: 700 !important;
    font-size: 1.5rem;
}


@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav>li>form>button.logout:focus {
    outline: none;
}


/**********footer*********/

.footer {
    background: var(--acento);
    border: none;
    clip-path: ellipse(100% 70% at center bottom);
    height: auto;
    min-height: 230px;
    font-size: .9em;
    height: 150px;
    color: var(--colorfuentesecundaria) !important;
}

.footer a {
    color: var(--acento)!important;
    font-weight: 700;
}

.body-content {
    padding: 2% 0;
}

.footer>.container {
    margin-top: 120px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 700;
}

.footer>.container a {
    font-size: 1rem;
    color: var( --colorfuentesecundaria) !important;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/***MODIFICACIÓN COLORES DE LOS BOTONES*****/
.btn{
    text-transform: uppercase;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
    background: var(--primario);
    border-color: transparent;
}

.button-separator {
    margin-top: 5px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background: var(--primario);
    border-color: transparent;
    box-shadow: 0 0 0 0;
}

.btn-primary {
    background: var(--primario) !important;
    border-color: transparent;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background: var(--primario);
    border-color: transparent;
    box-shadow: 0 0 0 0;
}


.btn a {
    color: var(--colorfuente);
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.bg {
    padding: 60px 1%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/*******************FORMULARIOS********/
/*Estilo del editor de texto*/
.form-control {
    height: auto !important;
}

.dark input,
.dark textarea,
.dark .form-control {
    background-color: var(--fondo);
    /* Color de fondo en el modo oscuro */
    color: var(--colorfuente);
}



/***********************BUSCADOR*********************/

.buscar {
    position: relative;
    padding: 1px 0;
    margin: 0px 10px;
    margin-bottom: -15px;
}

.buscar input {
    width: 240px;
    height: 30px;
    padding: 0 10px;
    color: #222;
    outline: none;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
    margin-right: 2px;
}

.btnsearch {
    width: 31px;
    height: 31px;
    line-height: 31px;
    top: -5px;
    right: 0px;
    position: absolute;
    background: transparent;
    text-align: center;
    color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.fas {
    line-height: 31px !important;
}



.resultado {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#resultados-busqueda {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #fff;
    color: #222;
    border-radius: 5px;
    margin: 5px;
    font-size: .8rem;
    max-height: 200px;
    overflow-y: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#resultados-busqueda a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #222;
}

#resultados-busqueda a:hover {
    background: #f1f1f1;
}


/*****pagina de la busqueda***********/
.resultado-busqueda,
.g-index,
.estanteria-index {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-evenly;
    padding: 20px 0;
}

.resultado a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.resultado a:hover {
    color: #007bff;
}

.resultado .imagen {
    margin-right: 10px;
}

.resultado .detalles {
    display: flex;
    flex-direction: column;
}

.resultado .titulo {
    font-weight: bold;
}

.resultado .autor {
    color: #6c757d;
}

.resultado .descripcion {
    margin-top: 5px;
}


.pag-busqueda,
.pag-estanteria {
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sidebar-busqueda {
    width: 20%;
    padding-left: 20px;
    border-left: 1px solid var(--acento);
    font-size: .9rem;
    margin-top: -80px;
}

.sidebar-busqueda h4,
.sidebar-busqueda h5 {
    font-weight: 700;
    border-bottom: 1px solid var(--acento);
    margin: 0 15px;
    text-transform: uppercase;
}

/***************Reto*********/
.info-reto-estanteria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
}

.info-reto-estanteria span {
    font-weight: 600;
    margin: 0 3px;
}

.badgeYearestanteria {
    padding-top: 3px;
    padding-bottom: 6px;
    color: var(--colorfuentesecundaria);
    font-size: 1.3rem;
    text-align: center;
    width: 120px;
    font-weight: bold;
    background: var(--acento);
}

.yearHeaderestanteria {
    font-size: 1.2rem;
}

.challengeText--readingestanteria {
    font-size: 1.2rem;
}

.bookImgretoestanteria {
    width: 116px;
    padding: 8px 4px 4px 4px;
    margin-top:-10px;
}

.retosestadisticas {
    padding: 5px;
}

/******************LIBROS PAGINA PRINCIPAL*******************************/

/*Estilos para la presentación de las cards de las consultas*/
.minimo {
    min-height: 280px;
    min-width: 250px;
    max-width: 250px;
    margin: 25px 10px !important;
    justify-content: center;
    align-items: center;
    border: none !important;
    padding: 1px;
}

.list-view {
    min-width: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 40px 110px 0 110px;
    height: 100%;
}

.card-title {
    margin-bottom:1rem;
    text-align: center;
}

/*Portada de los libros*/
.book {
    -webkit-box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
    background-color: #FFF;
    padding: 3px;
    float: left;
    margin-bottom: 10px;
}

.cover,
.escritos {
    min-width: 250px;
    min-height: 380px;
    max-height: 380px;
    max-width: 250px;

}


.detail {
    min-width: 270px;
    min-height: 400px;
    max-width: 270px;
    max-height: 400px;
    margin-left: -30px;
    margin-bottom: 20px;
}

.estante {
    margin-bottom: 50px;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
}

.leyendo {
    min-width: 90px;
    max-width: 90px;
    margin-right: 9px;
}

.card {
    background: transparent !important;
}

.card-body img {
    object-fit: cover;
    width: 150px !important;
    max-width: 150px;
}

/***********libro actual************/
.actual {
    margin-top: 20px;
    padding: 5px 0;
    margin-bottom: 16px;
    height: auto !important;
}

.progress {
    width: 100px;
    margin-bottom: 5px;
    height: 15px;
    color: #000;
    margin-top: -5px;
    background: var(--acento);
}

.progress-bar {
    background: var(--primario);
    color: #000;
    font-weight: bold;
}

.actualizar {
    cursor: pointer;
    margin-left: 0;
    margin-top: 5px;
}

.libro {
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.libroactualinfo {
    width: 70%;
}

.titulo-libro-actual {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*Vista individual de cada libro*/

.libros-view {
    height: 100%;
}

.rating-md {
    margin-top: 8px;
}

.lateral {
    background: var(--acento);
    width: 25%;
    height: 100vh;
}

.libros {
    padding: 2% !important;
    width: 100%;
    margin-top: 50px;
}

.libros section {
    margin: 5px;
}

.ranking {
    display: flex;
    padding: 10px;
}
.numcalificacion{
        padding-top: 5px;
            font-family: var(--fuente);
    font-size: .9rem !important;
}

/***Modificar el titulo de las starrank***********/
.caption-success,
.caption-secondary,
.caption-primary,
.caption-warning,
.caption-danger {
    background: transparent !important;
    font-family: var(--fuente);
    font-size: .8rem !important;
    color: var(--colorfuente);
    text-transform: lowercase;
}

.rating-container .caption {
    padding-top: 5px;
}

.rating-input {
    width: 0;
    padding-right: 10px;
}

.sipnosis {
    margin-top: 2%;
}

.libros p {
    padding: 2px 5px;
}

.autores {
    padding: 10px 5px;
    font-size: 2rem;
    font-weight: 700;
}

.autores a {
    font-weight: 700 !important;
}

.genero {
    display: flex;
    padding: 2px 5px;
}

.genero a {
    border-bottom: 2px solid var(--acento);
    margin: 5px 3px;
    border-radius: 1px;
}

.comentarios-libros {
    padding: 10vh;
}

.comentarios {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.perfil {
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.perfil img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 100%;
    border: 5px solid var(--acento);
}

.comentario {
    width: 89%;
    border-top: 1px solid var(--acento);
    margin: 3% 5% 1% 5%;
    padding: 10px 5px;
    text-align: justify;
}

.comentario span {
    font-size: .9rem;
    display: block;
}

.libros-lateral {
    padding: 2% !important;
    border-left: 300px solid var(--acento);
}

.superior-view {
    padding: 30px 0 20px 0;
    display: flex;
}

.info-portada-libro {

    margin-left: -150px !important;
    margin-right: 30px !important;
    position: sticky;
      top: 100.812px;
}

.info-libro {
    width: 79%;
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

/*******************PERFIL DE USUARIOS************************/
.perfilusuario {
    padding: 5vh;
    background: url(../img/icon/header2.png);
    margin: 10vh 0;
    background-size: cover;
    color:var( --colorfuentesecundaria);

}
.perfiluserinfo{
    flex-wrap: wrap;
        display: flex;
           justify-content: center;
    align-items: center;
        background: rgb(244, 236, 226, .35);
}
.avatar {
    padding: 5vh;
}

.avatar img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 100%;
    border: 5px solid var(--acento);
    box-shadow: 2px 2px 2px #ccc;
}

.perfilusuarioinfo {
    line-height: 90%;
    padding: 1% 5%;
    width: 30%;
}

.perfilusuarioinfo span {
    font-weight: 700;
}

.perfilusuariocontainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 10vh;
}

.perfilinforCount {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
    margin: 0 5vh;
    padding: 4%
}

.perfilinforCount span {
    font-weight: 700;
    font-size: 2rem;
}

.biografia{
    display: flex;
    width: 99%;
    padding: 3% 5%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 110%;
    align-items: center;
    margin-top: 5vh;
   
}

.biografia:before{
    content: '“';
    font-size: 6.8rem;
    font-family: Play;
    opacity:.9;

}

.biografia span{
    margin-top:-2%;
}

.count{
    font-size:1.2rem!important;
}
/********************************ESCRITORES****************************/
/*Imagen de los autores*/
.autores {
    margin: 10px 0px !important;
    justify-content: center;
    align-items: center;
    border: none !important;
    padding: 5px;
}

.escritoresImg {
    -webkit-box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
    background-color: #FFF;
    padding: 3px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
}

.libros-autor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vista-escritores {
    display: flex;
    flex-direction: column;
    padding: 10vh 20vh;
}

.info-escritores {
    display: flex;
}

.info-escritores-img {
    padding: 20px;
}

.info-escritores-bio span {
    font-weight: 700;
}

.info-escritores-bio h2,
.info-libro h2 {
    text-decoration: underline wavy var(--acento);
    margin: 5vh 0;
}

/*************************RETO ACTUAL**************************/
.reto-actual {
    margin: 10vh -2px;
    padding: 2% 10%;
    color: var(--colorfuentesecundaria);
    font-size: 2.5rem;
    font-weight: bold;
    height: 40vh;
    width: 100wv;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background: var(--acento);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.year {
    /*height: 100%;*/
    line-height: 140%;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.reto-actual  span{
        font-size: 1rem!important;
        font-weight: 500;
        text-transform: none !important;
}

.bookImg {
    width: 270px;
    padding-top: 32px;
    padding-left: 12px;
    float: left;
}

.bookImgreto {
    width: 156px;
    padding-top: 32px;
    padding-left: 12px;
    padding: 8px 4px 4px 4px;
}

.challengeStats {
    display: flex;
    width: 300px;
    z-index: 5;
    background-color: var(--fondo);
    border-radius: 2px;
    padding: 10px 10px;
    top: 10px;
    right: 10px;
    height: 120px;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.challengeStatItem {
    height: 14px;
    color: #767676;
    font-size: .8rem;
    text-align: right;
    padding: 2px 10px;
    margin-left: 10px;
    width: 48%;
    white-space: nowrap;
}

.statNumber {
    height: 14px;
    font-weight: bold;
    font-size: .8rem;
    padding-left: 10px;
    width: 48%;
    white-space: nowrap;
    color: var(  --colorfuente);
}

.badgeYear {
     display: flex;
    padding-top: 3px;
    padding-bottom: 6px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    width: 320px;
    font-weight: bold;
    background: var(--acento);
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.yearHeader {
    font-size: 2rem;
}

.challengeText--reading {
    font-size: 2rem;
}

.reto-contendor {
    display: flex;
    padding: 80px 120px;
    justify-content: space-evenly;
}

.reto-contendor-text {
    padding: 10px 50px;
}


/************PAGINA PERSONAL DE RETOS**************/

.info-lector {
    background: url(../img/icon/fondo1.jpg);
    margin: 3vh 0;
    background-size: cover;
    height: 18vh;
    padding: 8% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/************FORMULARIOS**************/
.formularioDiferente {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    background: var(--fondo);
    border-radius: 20px;
    box-shadow: 0 20px 80px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
}

/****************DARK MODE**************/
body.dark {
    background: var(--fondo);
    color: var(--colorfuente);
}

body.dark a {
    font-weight: 500;
}

body.dark a:hover {
    font-weight: 700;
}

.bg-dark.dark {
    background: linear-gradient(top, var(--acento), var(--primario)) !important;
}

#dl-icon.dark {
    color: var(--colorfuente) !important;
}

.dropdown-item.dark,
.dropdown-menu.dark {
    background: var(--fondo);
    color: var(--colorfuente) !important;
}

.dropdown-item.dark:hover,
.dropdown-item.dark:focus {
    background: var(--acento) !important;
}

.dropdown-item.dark.active,
.dropdown-item.dark:active {
    background: var(--fondo) !important;
    color: var(--colorfuente) !important;
    text-decoration: none;
}

.grid-view.dark,
.table.dark {
    color: var(--colorfuente);
}



/***************Grid view**********/
.table {
    color: var(--colorfuente);
}


/*****SCROLL PERSONALIZADO*******/
::-webkit-scrollbar {
    display: none;
}

/*****************CARD PERSONALIZADA********************/


.hero-section {
    display: flex;
    align-items: flex-start;
    background: var(--fondo);
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: var(--spacing-xxl) var(--spacing-l);
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: var(--spacing-xxl);
    row-gap: var(--spacing-xl);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width:540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:960px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card2 {
    list-style: none;
    position: relative;
    margin: 0 20px;
}

.card2:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card_background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(.65) saturate(1.2) contrast(.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card2:hover .card_background {
    transform: scale(1.15) translateZ(0);
    filter: brightness(1) saturate(1.2) contrast(.85);

}

.card-grid:hover>.card:not(:hover) .card_background {
    filter: brightness(1) saturate(1) contrast(1.2);
}

.card_content {
display: flex;
    padding: var(--spacing-l);
    position: absolute;
    padding: 10px;
    top: 50vh;
    justify-content: center;
    width: 100%;
}

.card_category {
    color: var(--text-light);
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card_heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    line-height: 1.4;
    word-spacing: 100vw;
}

/*************Administradores**************/
.administradores {
    padding: 2% 20%;
}

.admintabla {
    padding: 2% 5%;
}

/**********Política******/
.politica{
    padding:20px 100px;
    text-align:justify;
    font-size: 1.2rem;
}